<!--The whole content below can be removed with the new code.-->
<div style="text-align:center" class="container">
  <h2>Coin Manipulation</h2>
  <form #f="ngForm" (ngSubmit)="Submit()">
    <div class="form">
      <label for="amount">Enter Money Value</label>
      <input type="text" id="amount" required
        pattern="[0-9]*"
        [(ngModel)]="moneyVal"
       name="amount" #amount="ngModel" OnlyNumber="true">
      <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
        monetary value is required
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">
          Submit</button>
    </div>
  </form>
  <table border="1" class="hovertable">
    <thead>
      <tr>
        <th>Monetary Value</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of coinsCalc">
        <td>{{c.coinVal}}</td>
        <td>{{c.amountVal}}</td>
      </tr>
    </tbody>

  </table>
</div>